<!DOCTYPE html>
<HTML>

<HEAD>

<TITLE>TweetSeek</TITLE>

</HEAD>

<BODY BGCOLOR="#ffffcc">

</BODY>
<HR>
<p>

<!-- </p><a href="http://127.0.0.1:5000/">Home</a></p> -->
<!-- #the .gif url here was just stolen from an image search
<H

<!-- this is a loop that iterates over or user variable in the app.py file to get a list from User -->
<p><b>
<CENTER>
    <H1>The Watchlist</H1>
        <h3>
            <ul>
                {% for user in users %}
                <li>{{user.name }}</li>
                {% endfor %}
            </ul>
        </h3>
</CENTER>

</p></b>


</HR>
</BODY>
</HTML> 